html,body,.carousel,#home-slider,.carousel-inner,.item,.carousel-caption{
    height: 100%;
}

body {
    background: #fff;
}
.tooltip-carousel {
      position: absolute;
      z-index: 11;
      border-radius: 50%;
    }

.item{
    background-color:transparent;
    display:block;
}

.item:hover {
    cursor: pointer;
}

h1,h2{
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    margin:0;
    margin-bottom: 10px;
    line-height: 31.4286px;
}


.v-center{
    left: 50%;
    margin-top: 15%;
}

.v-center-n {
    top: 20% !important;
}

.close {
    margin: 2%;
}


/* ==================================================
   Home Slider
================================================== */
#home-slider .overlay { 
    position: absolute;
    width: 80%;
    z-index: 1;
}

#home-slider .logo {
    width:200px !important;
    margin-top:2%;
    margin-left: 10%;
}

#home-slider .carousel{
    margin-bottom: 0;
}

#home-slider .carousel-caption{
    color:#000;
    position:static;
    text-shadow: none;
}


#home-slider .carousel-caption .title{
    position:absolute;
    top:25%;
    left: 50%;
    transform : translate(-50%, -5%);
    font-size: 22px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
}

#home-slider .carousel-control {
    border : none;
    border-radius: 0px;
    font-size: 30px;
    line-height: 45px;
}

#home-slider .control-nav {
    position: absolute;
    width: 100%;
    background: #fff;
    height: 50px;
    bottom: 0;
    z-index: 2;
}

#home-slider .control-nav [class*="col-xs-"] {
    padding-right: 0;
}

#home-slider #nextslide,
#home-slider #prevslide {
    background-image: none;
    background-color: #000;
    display: inline-block;
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    float: right;
    width: 50px;
    height: 50px;
    opacity: 1;
    filter: alpha(opacity=100);
    
    -webkit-transition: background 0.1s linear 0s;  
       -moz-transition: background 0.1s linear 0s;
         -o-transition: background 0.1s linear 0s;
            transition: background 0.1s linear 0s;
}

#home-slider #nextslide {
    margin-left: -3px;  
}

#home-slider #nextsection {
    float:right;
}

#home-slider #nextslide:hover,
#home-slider #prevslide:hover {
    background-color:#d9534f;
}

#home-slider #nextslide i,
#home-slider #prevslide i {
    font-size: 16px;
    color: #FFFFFF;
    position: absolute;
    margin-top: -7px;
    line-height: 1em;
}

#home-slider #nextslide i {
    margin-left: -8px;  
}

#home-slider #prevslide i {
    margin-left: -9px;  
}

#home-slider ul#slide-list {
    top: 50%;
    padding: 0;
    margin:-6px 0 0 0;  
}

#home-slider ul#slide-list li {
    margin-right: 12px;
}

#home-slider ul#slide-list li:last-child {
    margin-right: 0;    
}

#home-slider ul#slide-list li a {
    background-color: #6E7074;
    background-image: none;
    width: 12px;
    height: 12px;
    
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;   
    
    -webkit-transition: background 0.1s linear 0s;  
       -moz-transition: background 0.1s linear 0s;
         -o-transition: background 0.1s linear 0s;
            transition: background 0.1s linear 0s;
}

#home-slider ul#slide-list li a:hover {
    background-color: #FFFFFF;  
}

#home-slider ul#slide-list li.current-slide a,
#home-slider ul#slide-list li.current-slide a:hover {
    background-color:#DE5E60;
}

#home-slider #nextsection {
    background-color: #26292E;
    margin: 0;
    position: relative;
    float:right;
    width: 50px;
    height: 50px;
    
    -webkit-transition: background 0.1s linear 0s;  
       -moz-transition: background 0.1s linear 0s;
         -o-transition: background 0.1s linear 0s;
            transition: background 0.1s linear 0s;
}

#home-slider #nextsection:hover {
    background-color:#DE5E60;
}

#home-slider #nextsection i {
    font-size: 16px;
    color: #FFFFFF;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    line-height: 1em;
}

#home-slider #nextsection i {
    margin-left: -7px;  
}

@media (max-width: 767px){
    #home-slider .carousel-caption h1.title{
        font-size: 18px;
    }
        
    #home-slider .logo {
        width: 120px !important;
        margin-top: 2%;
        margin-left: 2%;
    }
    
    #home-slider .control-nav {
        height: 40px;
    }
    
    #home-slider #nextslide,
    #home-slider #prevslide {
        width: 40px;
        height: 40px;
    }
    .modal-body{
        left: 20%;
        width: 100%;
        transform: translate(0%);
        font-size:18px;
    }
    .modal-body h2{
        font-size: 20px;
    }
    .v-center{
        margin-top: 30%;
    }

}

@media (min-width: 768px) and (max-width: 990px){
    .v-center{
        margin-top: 20%;
    }
    
}

@media (min-width:350px) and (max-width: 767px){
    .modal-body{
        left: 30%;
        width: 100%;
        transform: translate(0%);
        font-size:18px;
    }
}



 .navbar{
    padding-bottom:20px;
   
 }

header{
    padding-top:5%;
    padding-bottom: 1%;
}

.car-nav{
    position:absolute;
    right:0;
}

.center-st {
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%,-50%); 
}

@media (max-width: 767px) {
     header{
        padding-top:10%;
        padding-bottom: 5%;
    }
    
    .v-center-n {
        top: 12% !important;
    }
    .margin-right-10 {
        margin-right:0 !important;
    }

    .margin-left-10 {
        margin-left: 0 !important;
    }

}


.label-danger{
    background: #d9534f;
}

.panel{
    margin-bottom: 0;

}

.panel-info>.panel-heading {
    background-color: transparent !important;
    border-color:2px solid #1997c6!important;
    color: #1997c6 !important;
}

.panel-info>.panel-heading h4,.panel-info>.panel-heading p{
    font-weight: 300;
}

img{
    width:200px;

 }

a.careers:hover,a.careers:focus{
    text-decoration: none;
}


.alert{
    margin-top: 5px;
   margin-bottom:5px;
    color:#E37F03;
    font-weight: 900;
    text-align: center; 
    padding:3px;
}




.panel-info h4{
    margin-bottom:7%; 
}


.social {
    margin-top: -25px;
}

.social-icon
    {
        padding-top: 6px;
        font-size: 16px;
        text-align: center;
        width: 32px;
        height: 32px;
        border: 2px solid #777;
        border-radius: 50%;
        color: #777;
        margin: 5px;
        margin-bottom: 0;
        margin-top: -10px;
    }

    a.social-icon:hover, a.social-icon:active, a.social-icon:focus
    {
        text-decoration: none;
        color: #434343;
        border-color: #434343;
    }
    
.copyright {
    font-size: 12px;
}


/**************************************/

.block {
  position: relative;
  margin: 10px auto;
  height: 250px;
  z-index: 1;
}

.margin-right-10 {
    margin-right: 12.5%;
}

.margin-left-10 {
    margin-left: 12.5%;
}

.block {
  perspective: 1000;
}

.card {
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
  
    box-shadow: 5px 5px 22px 1px #F4F5F6;
   -moz-box-shadow:  5px 5px 22px 1px #F4F5F6;
   -webkit-box-shadow: 5px 5px 22px 1px #F4F5F6;
}

.block:hover .card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #F4F5F6;
   -moz-box-shadow:   -5px 5px 5px #F4F5F6;
   -webkit-box-shadow: -5px 5px 5px #F4F5F6;
}

.block .face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;

  color:#1997c6;
  
  backface-visibility: hidden;
  -webkit-backface-visibility:hidden;
}

.block .face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  color: #fff;
  padding: 6px;
  padding-top: 45px;
  text-align: center;
  background-color: #367AB5;
}

.block strong {
    display: inline-block;
    position: relative;
    font-weight: normal;
    font-size: 100px;
    line-height: 1em;
    color:#367AB5;
}

.block strong:before {
    position: absolute;
    left: 0;
    top: 0;
    font-weight: normal;
    margin: 0 0 0 -30px;
    font-family: 'FontAwesome';
}

.block .big {
    font-size: 40px;
    line-height: 1em;
    color: #367AB5;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    display: block;
    margin-top: 80px;
    letter-spacing: -1px;
}

.block .small {
    margin-top: 9px;
}

.block a:hover {
    background: #f95355;
    text-decoration: none;
}

.block  a:hover strong {
    color: #fff;
}

.block  a:hover .big {
    color: #fff;
}

.block  a:hover .small {
    color: #ffb3b4;
}

.block p {
    font-size: 14px;
    line-height: 1em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
}

.small {
    font-size: 10px;
    line-height: 1em;
    color: #cbcbcb;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
     font-weight: 100 !important;
}

@media (max-width: 768px){
.block p {
    font-size:10px;
}
}

@media (max-width: 767px){
.block {
  height: 120px;
}
.block .big {
    font-size: 30px;
    margin-top: 50px;
}
.block .face.back {
  padding-top: 5%;

 }
.block p {
    font-size: 9px;
}

.v-center-pr {
    left: 25%;
}   

.control-nav .col-xs-offset-1.social{
    margin-left: 0;
}

}

@media (max-width: 468px){
.block .face.back {
  padding-top: 15%;
 }
 .block p {
    font-size: 10px;
}
}
@media (min-width: 448px) and (max-width: 767px){
.v-center {
    margin-top: 22%;
}

}



@media (max-width: 445px) and (min-height: 560px){
.v-center {
    margin-top: 42%;
}

}

@media (max-width: 810px) and (min-height: 860px){
.v-center {
    margin-top: 42% !important;
}
}

@media (min-width:550px) and (max-width: 810px) and (min-height: 800px){
.v-center {
    margin-top: 30%;
}
}

/* =============================================================
CUSTOM BUTTON STYLES
============================================================ */
.button-custom {
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
margin: 25px 5px 5px 0px;
margin: 5px;
}

.btn-custom-one {
background-color: #000;
color: #fff;

}

.btn-custom-one:hover {
background-color: #f95355;
text-decoration: none;
color: #fff;
}

/* =================================================================*/
#slideit * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: 300;
    font-style: normal;
    font-size: 100%;
   
    vertical-align: baseline;
    line-height: normal;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

#slideit label {
    cursor: pointer
}

#slideit input[type=radio] {
    display: none
}

#slideit {
  
    position: fixed;
    width: auto;
    height: 100%;
    top: 5%;
    right: 0

}

#slideit .section {
    margin: 0;
    overflow: hidden;
     z-index: 9999;
    height: auto;
    right: 0;
    top: 65%;
    position: absolute;
     width: 67px;
    background: #fff;
   
}






#slideit .section .wrap {
    position: relative;
    width: auto;
    height: auto
}


#slideit .package,
#slideit .row,
#slideit .title,
#slideit .section .wrap {
    float: left
}

#slideit a.more {
    float: right
}

#slideit .title {
   
    display: block;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #E37F03;
    color: #fff;

    border: ridge 1px #E37F03;
}




#slideit label.close,
#slideit label.open {
    text-align: center;
    position: absolute;
    background-color: #E37F03;
    color: #fff;
    border: ridge 1px #E37F03;
    max-width: none;
   
}

#slideit label.open {
    font-size: 14px;
    font-weight: 700;
    
    width: 35px;
    top: 65%;
    right: -101px;
    left: auto;
    bottom: auto;
    margin: 0 auto;
    padding: 10px 0;
    text-transform: uppercase;
      z-index: 9999;
}

#slideit input#close-item:checked~label.open {
    right: 0
}

#slideit label.close {
    right: 0px;
    left: auto;
    top: 0;
    bottom: auto;
    font-size: 20px;
    background: #E37F03;
    color: #fff;
    width:35%   ;
    z-index: 999

}


#slideit label.close:focus,
#slideit label.close:hover {
    background: #E37F03;
}

#slideit .row,
#slideit a,
#slideit label {
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out
}

#slideit .section {
    -webkit-transition: all .4s cubic-bezier(0.2, .6, .3, 1);
    -moz-transition: all .4s cubic-bezier(0.2, .6, .3, 1);
    -ms-transition: all .4s cubic-bezier(0.2, .6, .3, 1);
    -o-transition: all .4s cubic-bezier(0.2, .6, .3, 1);
    transition: all .4s cubic-bezier(0.2, .6, .3, 1)
}

#slideit input#close-item:checked~label.open {
    -webkit-transition: right .3s ease .4s, background .1s ease, color .1s ease;
    -moz-transition: right .3s ease .4s, background .1s ease, color .1s ease;
    -ms-transition: right .3s ease .4s, background .1s ease, color .1s ease;
    -o-transition: right .3s ease .4s, background .1s ease, color .1s ease;
    transition: right .3s ease .4s, background .1s ease, color .1s ease
}

#slideit .open-label,#slideit .open-section{
    visibility: visible;
    opacity:9999;
    right:0 !important;
}   
#slideit .close-label,#slideit .close-section{
    visibility: hidden;
    opacity: 0;
    right:-101px;
    width:0;
    height:0;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.4.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.fa-twitter:before {
  content: "\f099";
}
.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
}